# python 3.7, to work with the RPI

matplotlib
dash
Pillow
pyserial
flask
setuptools>=49.2.0
opencv-python
tifffile
numpy
pyusb
pyyaml
pyftdi
pandas
tqdm
openpyxl
scikit-learn
seaborn
jupyter
jupyterlab

plotly
scipy